<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EVChargingStation</display-name>
  <welcome-file-list>
    <welcome-file>Adminlogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.ev.project.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSRegister</display-name>
    <servlet-name>CSRegister</servlet-name>
    <servlet-class>com.ev.project.CSRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSRegister</servlet-name>
    <url-pattern>/CSRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSLogin</display-name>
    <servlet-name>CSLogin</servlet-name>
    <servlet-class>com.ev.project.CSLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSLogin</servlet-name>
    <url-pattern>/CSLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.ev.project.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.ev.project.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSRegister1</display-name>
    <servlet-name>CSRegister1</servlet-name>
    <servlet-class>com.ev.project.CSRegister1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSRegister1</servlet-name>
    <url-pattern>/CSRegister1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister1</display-name>
    <servlet-name>UserRegister1</servlet-name>
    <servlet-class>com.ev.project.UserRegister1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister1</servlet-name>
    <url-pattern>/UserRegister1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSAdd</display-name>
    <servlet-name>CSAdd</servlet-name>
    <servlet-class>com.ev.project.CSAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSAdd</servlet-name>
    <url-pattern>/CSAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSadd</display-name>
    <servlet-name>CSadd</servlet-name>
    <servlet-class>com.ev.project.CSadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSadd</servlet-name>
    <url-pattern>/CSadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSRem</display-name>
    <servlet-name>CSRem</servlet-name>
    <servlet-class>com.ev.project.CSRem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSRem</servlet-name>
    <url-pattern>/CSRem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cscity</display-name>
    <servlet-name>Cscity</servlet-name>
    <servlet-class>com.ev.project.Cscity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cscity</servlet-name>
    <url-pattern>/Cscity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSCity</display-name>
    <servlet-name>CSCity</servlet-name>
    <servlet-class>com.ev.project.CSCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSCity</servlet-name>
    <url-pattern>/CSCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetterSetter</display-name>
    <servlet-name>GetterSetter</servlet-name>
    <servlet-class>com.ev.project.GetterSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetterSetter</servlet-name>
    <url-pattern>/GetterSetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePower</display-name>
    <servlet-name>UpdatePower</servlet-name>
    <servlet-class>com.ev.project.UpdatePower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePower</servlet-name>
    <url-pattern>/UpdatePower</url-pattern>
  </servlet-mapping>
</web-app>